/* Add all yout CSS formatting here */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* * {
    border: 1px solid white;
} */

header {
  background-color: rgb(54, 60, 63);
  padding: 5px;
}

body {
  background-color: rgb(54, 60, 63);
}

h1 {
  color: rgba(255, 255, 255, 0.925);
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: Verdana, sans-serif;
  margin-right: 15%;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-family: Verdana, sans-serif;
  margin: 0px;
}

div {
  margin-left: 10%;
  margin-right: 10%;
}

#secti {
  text-decoration: underline;
  text-decoration-color: rgba(234, 232, 232, 0.838);
}

span h2 {
  font-weight: normal;
  margin-left: 9.8%;
}

p {
  color: rgba(234, 232, 232, 0.838);
  font-family: Verdana, sans-serif;
  text-align: justify;
  line-height: 1.5;
  margin-right: 15%;
}

li {
  color: rgba(234, 232, 232, 0.838);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
  padding-top: 15px;
}

li a {
  color: azure;
}

li a:hover {
  color: rgb(117, 255, 255);
}

nav a {
  color: azure;
  margin: 5px;
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(42, 44, 46);
}

nav a:hover {
  color: rgb(117, 255, 255);
}

label {
  color: rgba(234, 232, 232, 0.838);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-container {
  position: relative;
  color: white;
  display: inline-block;
  width: 90%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlaying-txt {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5em;
  text-align: center;
  background: rgba(110, 110, 110, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.overlaying-txt:hover {
	color: rgb(117, 255, 255);
}

.flexbox {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

footer,
footer a {
  color: azure;
}

footer a:hover {
  color: rgb(117, 255, 255);
}



@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: 10px;
    border-radius: 35%;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  li {
    font-size: 12px;
  }

  p.creds {
    font-size: 10px;
  }

  div.overlaying-txt {
    font-size: 1.5em;
  }

  footer {
    font-size: 0.5em;
  }
}
